---
---

<!-- Counter Template  -->
<div id="container" class="w-24 h-32">
    <div class="w-24 h-28 bg-[#486AE5] rounded-lg grid place-items-center"> 
        <p class="text-5xl text-white text-center">00</p>
    </div>
    <p class="text-center mt-2 text-lg">Label</p>
</div>