<nav class="bg-background fixed w-full z-20 top-0 start-0">
  <div class="max-w-screen-x1 flex flex-wrap items-center justify-between mx-auto py-2 px-4">
    <img src="/public/binarybrains-logo.png" class="h-12" alt="Binary Brains Logo">
    <div class="flex items-center ml-auto space-x-4">
      <ul class="hidden md:flex gap-x-10 font-medium text-white">
        <li><a href="#" class="block py-2 px-3 hover:text-primary">Home</a></li>
        <li><a href="#" class="block py-2 px-3 hover:text-primary">About</a></li>
        <li><a href="#" class="block py-2 px-3 hover:text-primary">Challenges</a></li>
        <li><a href="#" class="block py-2 px-3 hover:text-primary">Sponsors</a></li>
      </ul>
      <button type="button" class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-14 py-2">
        Register
      </button>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
  </div>
</nav>