---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";
import Navbar from "@/components/astro/Navbar.astro";
---

<BaseLayout title="BrainHack">
  <Navbar></Navbar>
  <h1>Astro</h1>
  <Button>Hola</Button>
</BaseLayout>
